<a href="https://colab.research.google.com/github/Hongyongmin/baekjoon/blob/main/BruteForce/220316_%ED%95%9C%EC%9C%A4%EC%A0%95%EC%9D%B4_%EC%9D%B4%ED%83%88%EB%A6%AC%EC%95%84%EC%97%90_%EA%B0%80%EC%84%9C_%EC%95%84%EC%9D%B4%EC%8A%A4%ED%81%AC%EB%A6%BC%EC%9D%84_%EC%82%AC%EB%A8%B9%EB%8A%94%EB%8D%B0_2422.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n, m = map(int, input().split())
ice = [[False for _ in range(n)] for _ in range(n)]
for i in range(m):
    i1, i2 = map(int, input().split())
    ice[i1 - 1][i2 - 1] = True
    ice[i2 - 1][i1 - 1] = True

result = 0

for i in range(n):
    for j in range(i + 1, n):
        for k in range(j + 1, n):
            if not ice[i][j] and not ice[i][k] and not ice[j][k]:
                result += 1

print(result)

5 3
1 2
3 4
1 3
3