<a href="https://colab.research.google.com/github/Hongyongmin/baekjoon/blob/main/Tree/211113_%EC%83%81%EA%B7%BC%EC%9D%B4%EC%9D%98_%EC%97%AC%ED%96%89_9372.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
 
# tc
T = int(input())
ans = []

for tc in range(T):
    # N 국가 M 비행기 종류
    N,M = map(int,input().split())
 
    # 비행기 노선도
    board = []
 
    for q in range(M):
        board.append(input().split())
    ans.append(N-1)
    
for i in range(0,len(ans)):
    print(ans[i])

2
3 3
1 2
2 3
1 3
5 4
2 1
2 3
4 3
4 5
2
4